.form-control {
    display: block;
    width: 100%;
    height: calc(1.54em + 0.876rem + 2px);
    padding: 0.438rem 0.875rem;
    font-size: 0.894rem;
    font-weight: 400;
    line-height: 1.54;
    color: #4E5155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #26B4FF;
    border-color: #26B4FF;
}

.app-header {
    display: flex;
    align-items: center;
}

    .app-header .mx-auto {
        flex: 1;
        display: flex;
        justify-content: center;
    }


/* HEADER COLOR */
.dropdown-header {
    /*border-radius: 5px;*/
    overflow: hidden;
    background: #26B4FF !important; /* blue header */
    color: #ffffff !important;
    padding: 12px 15px;
    
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* ITEM BACKGROUND */
.dropdown-item {
    background: #ffffff;
    color: #1f2937;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 15px;
    border-bottom: 1px solid #e5e7eb;
    transition: 0.2s;
}

    /* HOVER EFFECT */
    .dropdown-item:hover {
        background: #f3f4f6;
        color: #111827;
    }





/* Setting sub menu */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        position: absolute;
        top: 0;
        left: auto !important;
        right: 100% !important; /* open to left */
        margin-right: 2px;
        display: none;
        min-width: 180px;
        z-index: 9999;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

.dropdown-menu {
    overflow: visible !important;
}

.dropdown-menu {
    transform: translate3d(...);
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}